<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h1>go-gorm-mk1-showcase</h1>
    <p></p>

    <p><b>SELECT QUERIES</b></p>
    <a href="/select-all"><button>Select All</button></a>
    <a href="/select-where"><button>Select Where</button></a>
    <a href="/select-specific"><button>Select Specific</button></a>
    
    <p><b>UPDATE QUERIES</b></p>
    <a href="/update-all"><button>Update All</button></a>
    <a href="/update-name"><button>Update Name</button></a>

    <p><b>DELETE QUERIES</b></p>
    <a href="/delete-row"><button>Delete Row</button></a>

    <p><b>INSERT QUERIES</b></p>
    <a href="/insert-row"><button>Insert Row</button></a>
</body>
</html>